html {
    overflow-y: scroll;
}
BODY {
    color: #89806A;
    font-family: Verdana;
    font-size: 10px;
}
DIV {
    color: #89806A;
    font-family: Verdana;
    font-size: 10px;
}
P {
    color: #89806A;
    font-family: Verdana;
    font-size: 10px;
}
TD {
    color: #89806A;
    font-family: Verdana;
    font-size: 10px;
}
A {
    color: #0396D7;
    font-family: Verdana;
    font-size: 10px;
    text-decoration: underline;
}
.formBottom {
    background-color: #FF7200;
    color: #000000;
    height: 10px;
    text-align: center;
}
.searchTable {
    border: 1px solid #990066;
    height: 90px;
    padding: 0;
    vertical-align: top;
    width: 400px;
}
.searchTable tr {
    border: 1px solid #990066;
    height: 20px;
    padding: 0;
    vertical-align: top;
}
.searchTable tr td {
    border: 1px solid #990066;
    color: #000000;
    font-weight: bold;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: top;
}
.searchTable th {
    background-color: #FF7200;
    border: 1px solid #990066;
    color: #000000;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.searchTable tr:last-child {
    background-color: #FF7200;
    border: 1px solid #990066;
    color: #000000;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.showDataTable {
    border: 1px solid #990066;
    padding: 0;
    vertical-align: top;
}
.showDataTable tr {
    border: 1px solid #990066;
    height: 5px;
    padding: 0;
    vertical-align: top;
}
.showDataTable tr td {
    border: 1px solid #990066;
    color: #000000;
    font-weight: bold;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
}
.showDataTablefont {
    color: #000000;
    font-weight: bold;
}
.showDataTable th {
    background-color: #FF7200;
    border: 1px solid #990066;
    color: #000000;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.showReportTable {
    border: 0 solid #990066;
    padding: 0;
    vertical-align: top;
    width: 750px;
}
.showReportTable tr {
    border: 1px solid #990066;
    height: 20px;
    padding: 0;
    vertical-align: top;
}
.showReportTable tr td {
    border: 1px solid #990066;
    font-weight: bold;
    height: 10px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.showReportTable th {
    background-color: #FF7200;
    border: 1px solid #990066;
    color: #000000;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.showTable {
    border: 1px none #990066;
    padding: 0;
    vertical-align: top;
    width: 750px;
}
.showTable tr {
    border: 1px solid #990066;
    height: 20px;
    padding: 0;
    vertical-align: top;
}
.showTable tr td {
    border: 1px none #990066;
    font-weight: bold;
    height: 10px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.showTable th {
    background-color: #FF7200;
    border: 1px solid #990066;
    color: #000000;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.showData {
    padding: 0;
    vertical-align: top;
}
.showData tr {
    height: 5px;
    padding: 0;
    vertical-align: top;
}
.showData tr td {
    color: #000000;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.showDatafont {
    color: #000000;
    font-weight: bold;
}
.showDataheader {
    background-color: #FF7200;
    border: 1px solid #990066;
    color: #000000;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.showDatafooter {
    background-color: #FF7200;
    border: 1px solid #990066;
    color: #000000;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 675px;
}
.roleBox {
    background-color: #FF7200;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-weight: bold;
    height: 24px;
    padding: 8px 0 0 10px;
    text-decoration: none;
    width: 125px;
}
.subRoleBox {
    background-color: #FF9900;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-weight: bold;
    height: 24px;
    padding: 8px 0 0 10px;
    text-decoration: none;
    width: 145px;
}
.subSubRoleBox {
    background-color: #FFCC00;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-weight: bold;
    height: 24px;
    padding: 8px 0 0 10px;
    text-decoration: none;
    width: 150px;
}
.showlistTable {
    border: 0 solid #990066;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    width: 350px;
}
.showlistTable tr {
    border: 0 solid #990066;
    padding: 0;
    vertical-align: top;
}
.showlistTable tr td {
    border: 0 solid #990066;
    color: #000000;
    font-weight: bold;
    padding: 1px;
    text-align: left;
    vertical-align: middle;
    width: 120px;
}
.showlistTable th {
    background-color: #FF7200;
    border: 0 solid #990066;
    color: #000000;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.button {
    font-size: 9px;
}
#primary_HeaderLogo a {
    background: none repeat scroll 0 0 transparent;
    width: 69px;
}
#primary_HeaderLogo a:hover {
    text-decoration: none;
}
#primary_HeaderLogo a:focus {
    text-decoration: none;
}
#primary_HeaderLogo {
    background-position: -3px -90px;
    float: left;
    height: 44px;
    margin: 0;
    width: 74px;
}
#headerid {
    background-image: url("../images/bg_header800.gif");
    border-color: #FFFFFF;
    border-style: solid solid none;
    border-width: 1px;
    height: 118px;
    padding: 0;
    vertical-align: top;
    width: 980px;
}
.headername {
    border-width: 1px;
    color: #666666;
    font-family: Verdana;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 45px;
}
#attLogo {
    border-color: #000000;
    border-style: none;
    border-width: 1px;
    float: left;
    height: 50px;
    padding: 30px 0 10px 20px;
    vertical-align: bottom;
    width: 136px;
}
#attHeaderName {
    border-color: #FFFFFF;
    border-width: 1px;
    color: #666666;
    font-family: Verdana;
    font-size: 20px;
    padding: 10px 10px 150px 20px;
}
#footerid {
    background-color: #CDCFD0;
    background-size: cover;
    border-color: #FFFFFF;
    border-style: solid solid none;
    border-width: 1px;
    height: 20px;
    padding: 0;
    vertical-align: top;
    width: 980px;
}
#welcomeid {
    background-color: #CDCFD0;
    background-repeat: no-repeat;
    border-color: #CDCFD0;
    border-style: none;
    border-width: 1px;
    height: 90%;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 735px;
}
.plusSign {
    background-color: #CDCFD0;
    border-color: #FFFFFF;
    border-style: none;
    padding: 0;
    vertical-align: middle;
}
.cssmenu {
    background-color: #CDCFD0;
    border-color: #FFFFFF;
    border-style: solid solid none;
    border-width: 1px;
    height: 540px;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 176px;
}
.cssmenu ul {
    background-color: #CDCFD0;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.cssmenu li a {
    background-color: #FF7200;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 24px;
    padding: 8px 0 0 10px;
    text-decoration: none;
    width: 165px;
}
.cssmenu li a:hover {
    background-color: #FF9900;
    color: #FFFFFF;
    padding: 8px 0 0 10px;
}
.cssmenu li a:active {
    background-color: #FF7200;
    color: #FFFFFF;
    padding: 8px 0 0 10px;
}
.subNav ul {
    background-color: #CDCFD0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.subNav li a {
    background-color: #FF9900;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    height: 24px;
    padding: 8px 0 0 20px;
    text-decoration: none;
    width: 155px;
}
.subNav li a:hover {
    background-color: #EAAB00;
    color: #FFFFFF;
    padding: 8px 0 0 20px;
}
.subNav li a:active {
    background-color: #FF9900;
    color: #FFFFFF;
    padding: 8px 0 0 20px;
}
.subsubNav ul {
    background-color: #CDCFD0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.subsubNav li a {
    background-color: #EAAB00;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    height: 24px;
    padding: 8px 0 0 30px;
    text-decoration: none;
    width: 145px;
}
.subsubNav li a:hover {
    background-color: #FFCC00;
    color: #FFFFFF;
    padding: 8px 0 0 30px;
}
.subsubNav li a:active {
    background-color: #FFCC00;
    color: #FFFFFF;
    padding: 8px 0 0 30px;
}
.subsubsubNav ul {
    background-color: #FFCC00;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.subsubsubNav li a {
    background-color: #FFCC00;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    height: 24px;
    padding: 8px 0 0 40px;
    text-decoration: none;
    width: 135px;
}
.subsubsubNav li a:hover {
    background-color: #FFCC00;
    color: #FFFFFF;
    padding: 8px 0 0 40px;
}
.subsubsubNav li a:active {
    background-color: #FFCC00;
    color: #FFFFFF;
    padding: 8px 0 0 40px;
}
.spaceFiller {
    content: "      ";
}
.stretch {
    border-left: 0 none;
    height: 100%;
    padding: 0;
    width: 100%;
}
#rcerror {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 10px;
    padding: 0;
    text-align: left;
    width: 220px;
}
#rcerror {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 10px;
    padding: 0;
    text-align: left;
    width: 220px;
}
.errorMessage {
    color: #FB3A3A;
    display: inline-block;
    font-size: 10px;
    margin: 4px 0 5px 10px;
    padding: 0;
    text-align: left;
    width: 500px;
}
.commonErrorMessage {
    color: #FB3A3A;
    display: inline-block;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    margin: 4px 0 5px 5px;
    padding: 0;
    text-align: center;
    width: 550px;
}
.commonActionMessage {
    color: #483D8B;
    display: inline-block;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 0 5px 5px;
    padding: 0;
    text-align: left;
    width: 550px;
}
#queryHeader {
    background-color: #BFBFBF;
    color: #000000;
    text-align: center;
}
#queryBanner {
    background-color: #FF7200;
    color: #000000;
    height: 15px;
    text-align: center;
}
.button {
    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
    padding: 1px 0;
    width: 75px;
}
.largeButton {
    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
    padding: 1px 0;
    width: 125px;
}
.selectOptionTransferLataandRegion {
    width: 75px;
}
.selectOptionTransferClass {
    overflow: auto;
    width: 100px;
}
.multiSelectBox {
    overflow: auto;
    width: 150px;
}
.multiSelectBoxForReports {
    overflow: auto;
    width: 220px;
}
.asterix {
    color: #FB3A3A;
}
.mediumTextBox {
    width: 25px;
}
.loading {
    display: none;
    font-size: 13px;
    height: 100%;
    left: 0;
    opacity: 1;
    padding-top: 15%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.loading div {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 150px;
}
.disabled {
    opacity: 1;
}
