#menuContainer ul{
	list-style-type: none;
	background-color: #eeeeee;	
}

#menuContainer .tile{
	display: inline;
	float: left;
}

#menuContainer{
	border-radius: 5px;
	border: 1px solid #eeeeee;
	height: 40px;
	background-color: #eeeeee;
	font-family: arial;
	font-weight: bold;
	color: #68228b;
}

#menuContainer .header{
	font-size: 0.8em;
}

#menuContainer .details{
	font-size: 0.6em;
	margin-top: -0.2px;
	background-color: #f7f7f7;
	width: 40px;
	padding-left: 12px;
	padding-top: 10px;
	margin-left: 22px;
	line-height: 95%;
}

#menuContainer .details li{
	padding-bottom: 5px;
}

#menuContainer .details a{
	text-decoration: none;
	color: #2222cc;
}
