<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>



</head>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

<input ng-model="filterText" value=""><br>

<div ng-repeat="item in items | filter:{key: filterText}">
{{item.name}} {{item.id}} {{item.code}}
</div>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {

	$scope.items = [
		{name: "abc", id: 123, code: "a1b2"},
		{name: "bcd", id: 234, code: "b2c3"},
		{name: "cde", id: 345, code: "c3d4"}
	];

	for(var i = 0; i < $scope.items.length; i++){
		$scope.items[i].key = $scope.items[i].name + $scope.items[i].code;
	}
	
});
</script>

</body>

</html>