#tabContainer{
	font-family: arial;
}

.tab a{
	text-decoration: none;
	color: #000000;	
}

.active{
	background-color: #ffeeaa;
}

.inactive{
	background-color: #eeeeee;
}

.tab{
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}

.tabContent{
	clear: both;
	float: left;
	font-size: 0.8em;
	border: 1px solid #dddddd;
	width: 700px;
	padding: 20px;
	border-radius: 5px;
}
