
#container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding: 2%;
	font-family: arial;
	font-size: 0.8em;
	width: 60%;
	border: 1px solid #dddddd;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #dddddd;
}

.messages{
	float: left;
	width: 200px;
}